<div class="row">
  <h1>
    Educación
  </h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <div class="col-lg-3">
          <img src="../../../assets/java-logo.png">
        </div>
        <div class="col-lg-8"><h2>Escuela</h2> - <h3>Inicio-fin</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quidem quia perspiciatis excepturi laudantium dolorum quo soluta similique aut, adipisci illo temporibus quos inventore magni magnam beatae ipsum odio vero.</p>
        </div>
      </li>
      <li>
          <div class="col-lg-3">
            <img src="../../../assets/java-logo.png">
          </div>
          <div class="col-lg-8"><h2>Universidad</h2> - <h3>Inicio-fin</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quidem quia perspiciatis excepturi laudantium dolorum quo soluta similique aut, adipisci illo temporibus quos inventore magni magnam beatae ipsum odio vero.</p>
          </div>
      </li>
  </ul>
  </div>
</div>
