<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
  <div class="col-sm-8 col-md-8 col-lg-8 descrip">
      <h2>Nombre del proyecto</h2>
      <p>Descripcion del proyecto. Fecha de creacion, etc</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 offset-lg-1 captura">
      <img src="../../../assets/java-logo.png">
    </div>
  <div class="col-sm-8 col-md-8 col-lg-8 descrip">
    <h2>Nombre del proyecto</h2>
    <p>Descripcion del proyecto. Fecha de creacion, etc</p>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3 offset-lg-1 captura">
    <img src="../../../assets/java-logo.png">
  </div>
  </div>
</div>
