<div class="row">
  <div class="container">
    <div class="logoap">
        <img src="../../../assets/arg-programa.png" id="logoAP">
    </div>
    <div class="redes">
        <a href="https://github.com/Maximillar"><img src= "../../../assets/github-transp.png" id="github"></a>
        <a href="https://www.linkedin.com/maximiliano-villar-23b899255"><img src= "../../../assets/linkedin-transp.png" id="linkedin"></a>
        <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Salir</button>
    </div>
  </div>
</div>

