.gradient-custom {
  /* fallback for old browsers */
  background: #077916;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(6, 99, 26), rgb(37, 252, 66));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(6, 99, 26), rgb(37, 252, 66))
  }
