<div class="row">
  <h1>
    Experiencia laboral
  </h1>
  <div class="col-lg-11">
    <ul>
      <li><h2>Trabajo 1</h2> - <h3>años</h3></li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quidem quia perspiciatis excepturi laudantium dolorum quo soluta similique aut, adipisci illo temporibus quos inventore magni magnam beatae ipsum odio vero.</p>
      <li><h2>Trabajo 2</h2> - <h3>años</h3></li>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quidem quia perspiciatis excepturi laudantium dolorum quo soluta similique aut, adipisci illo temporibus quos inventore magni magnam beatae ipsum odio vero.</p>
    </ul>
  </div>
</div>
